@import "tailwindcss";

/* Smooth theme animation */
.theme-transition,
.theme-transition * {
  transition: 
    background-color 0.35s ease,
    color 0.35s ease,
    border-color 0.35s ease,
    box-shadow 0.35s ease;
}

/* Dark Mode */
:root {
  --bg: #020617;
  --text: #e5e7eb;
}

body {
  background-color: var(--bg);
  color: var(--text);
}
